.title{

    font-size: 24px;
    

}

.container{
    max-width: 1140px;
  
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 90vh;
    margin-top: 50px;
   
}

table{
   
    border-collapse: collapse;
    width: 100%;
  
 
}

td, th{
    padding: 10px 20px;
    text-align: left;
    border: 1px solid;
    
}


.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .productTitle{
    font-size: 16px;
    width: 500px;
    font-weight: 400;
}