.products{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 40px;

}

.products h2{
    color: #1a1818;
    
}

.productsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
}